
.page-content{
  padding-top: 100px;
}

.btn{
  padding: 5px;
  margin: 3px;
  width: 100px;
  height: 60px;
  text-decoration: none;
  background-color: #008CBA;
  color: #FFF;
  transition: 0.4s;
  border-radius: 5px;
}

.btn:hover{
  background-color: #FFF;
  color: #008CBA;
}

.goods{
  max-width: 1200px;
  margin: auto;
  padding: 15px;
  overflow: hidden;
  display: inline-block;
}

.good{
  height: 210px;
  width: 200px;
  background-color: #008CBA;
  color: #FFF;
  transition: 0.5s;
  display: inline;
  float: right;
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
}


.add-background{
  background-image: url('https://lh3.googleusercontent.com/gN6iBKP1b2GTXZZoCxhyXiYIAh8QJ_8xzlhEK6csyDadA4GdkEdIEy9Bc8s5jozt1g=w300')
}

.good-description{
  margin-top: 5%;
  margin-right: 5%;
  width: 90%;
  height: 90%;
}

.hidden{
  display: none;
}

.desc-txt{
  display: block;
  padding: 5px;
}

.incr-btn , .decr-btn{
  height: 20px;
  width: 50px;
  font-weight: bolder;
}

.delete-good-btn{
  background-color: #F00;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;
}

.text{
  transition: 0.5s;
}

.text:hover{
  text-indent: -110em;
}


.edit-good-btn{
  cursor: pointer;
}

.show-graph-modal{
  top: 15%;
  width: 65%;
}

.delete-good-modal-content{
  width: 40%;
}

.delete-good{
  top: 25%;
}

.myButton{
  font-size: 20px;
  padding: 5px;
  margin: 3px;
  width: 50px;
  transition: 0.5s;
  /*color: #FFF;*/
  border-radius: 5px;
}

.myButton:hover{
  cursor: pointer;
}

.no-btn{
  background-color: #286090;
  color: #FFF;
}

.no-btn:hover{
  background-color: #1d476c;
}

.yes-btn{
  background-color: #C9302C;
  color: #FFF;
}

.yes-btn:hover{
  background-color: #a9322f;
}
