.page-content{
  padding-top: 100px;
}

.btn{
  padding: 5px;
  margin: 3px;
  width: 100px;
  height: 60px;
  text-decoration: none;
  background-color: #008CBA;
  color: #FFF;
  transition: 0.4s;
  border-radius: 5px;
}

.btn:hover{
  background-color: #FFF;
  color: #008CBA;
}

.goods{
  max-width: 1200px;
  /*margin: 15px;*/
  margin: auto;
  padding: 15px;
  overflow: hidden;
  display: inline-block;
}

.good{
  height: 210px;
  width: 200px;
  background-color: #008CBA;
  color: #FFF;
  transition: text-indent 0.5s;
  display: inline;
  float: right;
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
}

/*.good:hover{
  text-indent: -11em;
  background-image: url('https://lh3.googleusercontent.com/gN6iBKP1b2GTXZZoCxhyXiYIAh8QJ_8xzlhEK6csyDadA4GdkEdIEy9Bc8s5jozt1g=w300')
}*/

.add-background{
  background-image: url('https://lh3.googleusercontent.com/gN6iBKP1b2GTXZZoCxhyXiYIAh8QJ_8xzlhEK6csyDadA4GdkEdIEy9Bc8s5jozt1g=w300')
}

.good-description{
  margin-top: 5%;
  margin-right: 5%;
  width: 90%;
  height: 90%;
}

.hidden{
  display: none;
}

.desc-txt{
  display: block;
  padding: 5px;
}

.incr-btn , .decr-btn{
  height: 20px;
  width: 50px;
  font-weight: bolder;
}

.delete-good-btn{
  background-color: #F00;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;
}

.text{
  transition: 0.5s;
}

.text:hover{
  text-indent: -11em;
}

.add-good-modal{
  position: fixed;
}

.edit-good-btn{
  cursor: pointer;
}

.image-placeholder{
  height: 100px;
  width: auto;
}

.image-placeholder .image-inside-div{
  max-height: 50px;
}
