 {{>homeHeader}}

<link rel='stylesheet' href='/css/inventory.css' />


 <main id="inventoryPage" class='page-content'>
   <div class="container">
     <div class='inventoryPage'>
       <form id="" action='/add-inventory' method='POST'>
       <label id="inventory-name">اسم المخزن<input type="text" id="inventory-name" class="txt add-inventory-txt"    placeholder="ادخل اسم المخزن" name="name" /></label>
       <br />
       <label id="inventory-location">مكان المخزن<input type="text" id="inventory-location" class="txt add-inventory-txt"  placeholder="ادخل مكان المخزن" name="location"/> </label>
       <br />
       <br />
       <button class="submit-btn" value="submit"> تاكيد</button>
     </form>
   </div>
   </div>
 </main>
