<link rel='stylesheet' href='/css/inventory.css' />

<div class = 'containar'>
  <button class="button1">تقارير</button>
  <button class="button2">رسم بياني</button>

<div class='good1'>
  <div class="polaroid1">
  <img src="http://omnas.com/landingpages/new/uploads/Inventory-Screen2.png" alt="Norway" style="width:100%">
</div>
<div class="shadow1">
  <li> الاسم: قمصان </li>
  <li> الكمية: 5 وحدات </li>
  </div>
</div>

<div class='good2'>
  <div class="polaroid">
  <img src="http://omnas.com/landingpages/new/uploads/Inventory-Screen2.png" alt="Norway" style="width:100%">
</div>
<div class="shadow2">
  <li> الاسم: قمصان </li>
  <li> الكمية: 5 وحدات </li>
  </div>
</div>

<div class='good'>
  <div class="polaroid">
  <img src="http://omnas.com/landingpages/new/uploads/Inventory-Screen2.png" alt="Norway" style="width:100%">
</div>
<div class="shadow">
  <li> الاسم: قمصان </li>
  <li> الكمية: 5 وحدات </li>
  </div>
</div>




</div> <!-- container -->
