 {{>homeHeader}}

<link rel='stylesheet' href='/css/inventory.css' />


 <main id="inventoryPage">
   <div id="container">
     <form id="">
     <label id="inventory-name">اسم المخزن<input type="text" id="inventory-name" class="txt"    placeholder="ادخل اسم المخزن"name="inventoryName" /></label>

     <label id="inventory-location">مكان المخزن<input type="text" id="inventory-location" class="txt"  placeholder="ادخل مكان المخزن" name="inventoryLocation"/> </label>
     <div class="submit-btn">
       <button id="submit-btn" value="submit"> تاكيد</button>
     </div>
   </form>
   </div>
 </main>
