{{>header}}

<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link rel='stylesheet' href='/css/landing.css' />

<main class='main'>
  <div class='signin-modal modal'>
    <div class='modal-content signin-modal-content'>
      <span class='close signin-close' id='signinClose'>&times;</span>
      <form action='/sign-in' method='POST'>
        <label for='signin-username'>اسم المستخدم <input type='text' class='txt' id='signin-username' name='username' placeholder='أدخل اسم المستخدم' required /></label>
        <br />
        <label for='signin-password'>كلمة المرور <input type='password' class='txt' id='signin-password' name='password' placeholder='أدخل كلمة المرور' required /></label>
        <br />
        <br />
        <div class='buttons'>
          <input type='submit' value='تسجيل الدخول' class='submit-btn'/>
          <a href='#' id='showSignUpModal'>لا تمتلك حساب؟ أنشأ حساب</a>
        </div>
      </form>
    </div>
  </div>

  <div class='signup-modal modal'>
    <div class='modal-content signup-modal-content'>
      <span class='close signup-close' id='signupClose'>&times;</span>
      <form action='/sign-up' method='POST'>
        <label for='signup-name'>الاسم <input type='text' class='txt' id='signup-name' name='name' placeholder='ادخل الاسم' required /></label>
        <br />
        <label for='signup-username'>اسم المستخدم <input type='text' class='txt' id='signup-username' placeholder='ادخل اسم المستخدم'  name='username' required/></label>
        <br />
        <label for='signup-email'>البريد الالكتروني <input type='email' class='txt' id='signup-email' placeholder='أدخل البريد الالكتروني'  name='email' required/></label>
        <label for='signup-password'>كلمة المرور <input type='password' class='txt' id='signup-password' name='password' placeholder='أدخل كلمة المرور' required /></label>
        <br />
        <label for='signup-password'>تأكيد كلمة المرور <input type='password' class='txt' id='signup-password' name='confirmPassword' placeholder='أدخل كلمة المرور' required /></label>
        <br />
        <br />
        <div class='buttons'>
          <input type='submit' value='تسجيل' class='submit-btn'/>
          <a href='#' id='showSignInModal'>تمتلك حساب ؟ تسجيل الدخول</a>
        </div>
      </form>
    </div>
  </div>
  <div class='welcome'>
    <h1 class='app-title'>نظام إدارة المخازن</h1>
    <br />
    <h2 class='app-description'>
  مشاكل عملك وإدارة المخازن الخاصة بك لم تعد موجودة مع نظام ادارة المخازن الجديد والمتكامل
    </h2>
    <br>
    <p>
  وفر وقتك وتابع عملك بشكل لحظي مع أحدث نظم إدارة المخازن، فهو يتيح لك إظهار بضائعك في المخازن وتتبع كافة التحركات من سحب وإيداع البضائع
    </p>
  </div>
  <div class='container'>



    <section class='first-section'>
      <div class='image-div'>
        <img src='http://omnas.com/landingpages/new/uploads/Inventory-Screen2.png' alt='Descriptive Image'/>
      </div>
      <div class='description'>
        <h3> أهم مميزات النظام لإدارة المخازن </h3>
        <br>
                <ul>
          <li>
            يسمح لك النظام بالتعامل مع جميع أنواع البضائع المخزنة
          </li>
          <li>
           يقوم النظام بمتابعة تحركات الأصناف في المخازن واستيرادها على شكل تقارير
          </li>
          <li>
          تظهر التحركات بشكل لحظي وبالكميات التي أدخلها المستخدم
          </li>
          <li>
            يوجد متابعة دقيقة لمتابعة حالة المخزن
          </li>
          <li>
إمكانية جرد المخزون في أي وقت من السنة ﻷي عدد من الأصناف
          </li>
          <li>
يسمح لك النظام برؤية جميع التحركات على شكل رسومات بيانية
          </li>
          <li>
          يتيح لك النظام بمعرفة الكميات المستهلكة
          </li>
        </ul>
      </div>
    </section>

    <div class='clear'></div>
    <hr />

    <section class='second-section'>
      <div class='image-div-reversed'>
        <img src='http://omnas.com/landingpages/new/uploads/Inventory-Screen2.png' alt='Descriptive Image'/>
      </div>
      <div class='description-reversed'>
        <h3> متطلبات نظام إدارة المخازن </h3>
        <br>
        <br>
        <h5>
نظام إدارة المخازن هو النظام الامثل من حيث سهولة الاستخدام وتوافقه
<br>
مع كافة الاجهزة ولا يتطلب اي مواصفات خاصة
        </h5>
      </div>
    </section>
    <!-- </div> -->

    <div class='clear'></div>
    <hr />

    <section class='third-section'>
      <div class='image-div'>
        <img src='http://omnas.com/landingpages/new/uploads/Inventory-Screen2.png' alt='Descriptive Image'/>
      </div>
      <div class='description'>
        <h3>سهولة استخراج التقارير ومراقبة تحركات المخازن </h3>
        <ul>
          <li>
            مجموعه من التقارير الخاصه بأرصدة الأصناف (كمية أو كمية وقيمة).
          </li>
          <li>
            تقارير تحلل الحركه المخزنيه لصنف معين أو لمجموعة من الأصناف.
          </li>
          <li>
            قوائم الجرد.
          </li>
          <li>
            تقرير متابعه تاريخ إنتهاء تاريخ الحالى للمخزون.
          </li>
          <li>
            طباعة التقارير.
          </li>
        </ul>
      </div>
    </section>
    <div class='clear'></div>
  </div>

  <footer class='footer'>
    <div class='container'>

      <section class='contact-us'>
        <h2 class='contact-us-header'>تواصل معنا</h2>
        <form action='/contact-us' method='POST'>
          <div class='right-div'>
            <label for='name'>الاسم <input type='text' id='name' class='txt' name='name' placeholder='ادخل الاسم' /></label>
            <label for='email'>البريد الالكتروني <input type='email' id='email' class='txt' name='email' placeholder='ادخل البريد الالكتروني' /></label>
          </div>
          <div class='left-div'>
            <label>محتوى الرسالة <br /><textarea class='txt-area'></textarea></label>
            <input type='submit' value='إرسال'  class='submit-btn reversed'/>
          </div>
          <div class='clear'></div>
        </form>
      </section>

    </div>
    <div class='end-footer'>
      <p>
        Powered By Triple S Team &copy;
      </p>
    </div>
  </footer>
</main>




<script src='/js/index.js'></script>
