{{>homeHeader}}

<main class = 'main'>

<link rel='stylesheet' href='/css/profile.css' />

<div class= 'profile-picture' >
</div>


<div class='user-info'>
<h2 class='userName-style'> {{data.name}}</h1><br>
	<table>

  <tr>
    <td class = 'info-style'> اﻻسم </td>
    <td>{{data.name}}</td>
  </tr>


	<tr>
		<td class = 'info-style'> اسم المستخدم </td>
    <td>{{data.username}} </td>
  </tr>
  <tr>
    <td class = 'info-style'> اﻻيميل </td>
    <td> {{data.email}} </td>
  </tr>
</table>

<br>

</div>
</div>
</main>
