{{>homeHeader}}

<main class = 'main'>
<link rel='stylesheet' href='/css/profile.css' />

<div class= 'profile-picture' >
	<!-- <img class="image-user img-responsive" alt=" Avatar" id="avatar2" src="http://bootdey.com/img/Content/avatar/avatar6.png"> -->


			<!-- <button class="button button1">تغير الصورة الشخية </button><br> -->
</div>

<div class='user-info'>
<h2 class='userName-style'>سامر العيلة</h1><br>
	<table>
  <tr>
    <td class = 'info-style'> اسم المستخدم </td>
    <td> سامر العيلة </td>
  </tr>
	<tr>
		<td class = 'info-style'> المكان </td>
    <td> غزة </td>
  </tr>
  <tr>
    <td class = 'info-style'> الموقع </td>
    <td> مالك المستودع </td>
  </tr>
  <tr>
    <td class = 'info-style'> تاريخ الإنضمام </td>
    <td> 2/12/2016 </td>
  </tr>

</table>
<br>
<button class="button button2"> تغير المعلومات الشخصية </button><br>

</div>
</di>
</main>
