{{>homeHeader}}

<main class = 'main'>
	<!-- <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' /> -->

<link rel='stylesheet' href='/css/profile.css' />

<div class= 'profile-picture' >
	<!-- <img class="image-user img-responsive" alt=" Avatar" id="avatar2" src="http://bootdey.com/img/Content/avatar/avatar6.png"> -->


			<!-- <button class="button button1">تغير الصورة الشخية </button><br> -->
</div>


<div class='user-info'>
<h2 class='userName-style'> {{data.name}}</h1><br>
	<table>

  <tr>
    <td class = 'info-style'> اﻻسم </td>
    <td>{{data.name}}</td>
  </tr>


	<tr>
		<td class = 'info-style'> اسم المستخدم </td>
    <td>{{data.username}} </td>
  </tr>
  <tr>
    <td class = 'info-style'> اﻻيميل </td>
    <td> {{data.email}} </td>
  </tr>
  <!-- <tr>
    <td class = 'info-style'> كلمة المرور </td>
    <td> </td>
  </tr> -->
</table>

<br>
<!-- <button class="button button2"> تغير المعلومات الشخصية </button><br> -->

</div>
</div>
</main>
