<header>

  <nav class='nav-bar'>
    <div class='container'>
      <a href='#' class='brand'>إدارة المخازن</a>


      <a href='#' class='nav-link signup-btn'>التسجيل</a>
      <a href='#' class='nav-link signin-btn'>تسجيل الدخول</a>
    </div>
  </nav>


</header>
