<header>

  <nav class='nav-bar'>
    <div class='container'>
      <a href='#' class='brand'>إدارة المخازن</a>


      <a href='#' class='nav-link'>تسجيل الدخول</a>
      <a href='#' class='nav-link'>التسجيل</a>
    </div>
  </nav>

  <!-- <div class='modal sign-in-modal'>

    <div class='modal-content sign-in-modal-content'>
        <span class='close-btn'>&times;</span>
        <form action='/sign-in' method='POST'>

        </form>
    </div>

  </div> -->

  <!-- <div class='modal sign-up-modal'>

    <div class='modal-content sign-up-modal-content'>
        <span class='close-btn'>&times;</span>
    </div>

  </div> -->

</header>
