<header>

  <nav class='nav-bar'>
    <div class='container'>
      <a href='/home' class='brand'>إدارة المخازن</a>


      <a href='/logout' class='nav-link signup-btn'>تسجيل الخروج</a>
      <a href='/profile' class='nav-link signup-btn'>الملف الشخصي</a>
    </div>
  </nav>


</header>
